.person-container{
    justify-content: center;
    border: rgb(0, 0, 0) 1px solid;
    background-color: #e4ded7;
    margin-top: 1px;
    margin-bottom: 1px;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
    border-radius: 5px;
    margin-left: 12px;
    margin-right: 12px;
    height: 74px;
}

.person-container:hover{
    background-color: #594432;
    color: beige;
    cursor: pointer;
    border: 0px;
}

.info-container{
    display: flex;
    margin-right: 25px;
}

.title{
    display: flex;
    margin-right: 5px;
    margin-left: 15px;
    width: 5%;
    min-width: 50px;
    font-weight: bold;
}

.info{
    text-align: left;
    display: flex;
    margin-right: 25px;
}