.DateSelectionBtn{
    padding:10px;
    background-color: lightseagreen;
    margin:5px;
    border-radius: 5px;
    width:40px;
    height:40px;
}

.DateSelectionBtn:hover{
    padding:10px;
    background-color: rgb(25, 138, 132);
    margin:5px;
    border-radius: 5px;
    width:40px;
    height:40px;
}