.DateCalendarDOW{
    background-color: #784011;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    border: #B47C49 1px solid;
    font-size: 10px;
    color: white;
    border-radius: 5px;
    padding-top: 10px;
    height: 40px;
    width: 14.285%;
}