.DateSelectionBtn{
    padding-top:8px;
    background-color: #D9C7B2;
    border: #B47C49 2px solid;
    border-radius: 5px;
    width: 14.285%;
    height:40px;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

.DateSelectionBtn:hover{
    padding-top:8px;
    background-color: rgb(89,68,50);
    color: white;
    border: #000000 1px solid;
    width: 14.285%;
    height:40px;
    cursor: pointer;
}

.DateSelectedBtn{
    padding-top:8px;
    background-color: rgb(89,68,50);
    color: white;
    border: #000000 1px solid;
    border-radius: 5px;
    width: 14.285%;
    height:40px;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

.DateSelectedBtn:hover{
    padding-top:8px;
    background-color: rgb(89,68,50);
    color: #ffffff;
    border: #000000 1px solid;
    width: 14.285%;
    height:40px;
    cursor: pointer;
}