.DateCalendar{
justify-content: center;
}
.Calendar{
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    flex-wrap: wrap;
    border: #B47C49 2px solid;
    background-color: #B47C49;
    min-width: 220px;
}