.DateCalendarGreyButton{
    padding-top:8px;
    background-color: rgb(128, 128, 128, 0.8);
    border: rgb(180, 124, 73, 0.75) 1px solid;
    border-radius: 5px;
    width: 14.285%;
    height:40px;
}