.HeaderLink-Link{
    background-color: #C7CFD9;
    color: Black;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    margin-left: 5vw;
    margin-right: 5vw;
}

.HeaderLink-Highlighted{
    background-color: #594432;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
}

