.HeaderLink-Link{
    display: flex;
    background-color: rgb(217, 199, 178);
    color: Black;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    margin-left: 1vw;
    margin-right: 1vw;
    width: 120px;
    height: 44px;
    justify-content: center;
    transition: all 0.25s ease-in-out;
}

.HeaderLink-Highlighted{
    display: flex;
    background-color: #594432;
    color: white;
    padding: 10px;
    margin-left: 1vw;
    margin-right: 1vw;
    border-radius: 5px;
    text-decoration: none;
    width: 120px;
    height: 44px;
    justify-content: center;    
    border-style: solid;
    border-width: 1px;
    border-color: rgb(0, 0, 0, 0);
    transition: all 0.25s ease-in-out;
}

.HeaderLink-Highlighted:hover, .HeaderLink-Link:hover{
    border-style: solid;
    border-width: 1px;
    border-color: black;
    text-decoration: none;
    background-color: #594432;
    color: white;
    cursor: pointer;
    height: 44px;
}

.HeaderLink-Unavailable{
    display: flex;
    background-color: rgb(128, 128, 128, 0.9);
    color: Black;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    margin-left: 1vw;
    margin-right: 1vw;
    width: 120px;
    justify-content: center;
    height: 44px;
}

.icon{
    padding-left: 5px;  
    transition: filter 0.25s ease-in-out;
}

.HeaderLink-Link:hover .icon{
    padding-left: 5px;  
    filter: invert(100%);
    -webkit-filter: invert(100%);
}

.iconUnavailable{
    padding-left: 5px;  
}
.iconSelected{
    padding-left: 5px;  
    filter: invert(100%);
    -webkit-filter: invert(100%);
}