.HeaderLink-Link{
    display: flex;
    background-color: #C7CFD9;
    color: Black;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    margin-left: 5vw;
    margin-right: 5vw;
    width: 90px;
    justify-content: center;
}

.HeaderLink-Highlighted{
    display: flex;
    background-color: #594432;
    color: white;
    padding: 10px;
    margin-left: 5vw;
    margin-right: 5vw;
    border-radius: 5px;
    text-decoration: none;
    width: 90px;
    justify-content: center;
}

.HeaderLink-Highlighted:hover, .HeaderLink-Link:hover{
    border-style: solid;
    border-width: 1px;
    border-color: black;
    text-decoration: none;
    background-color: #594432;
    color: white;
}