.MonthSelectBtn{
    padding:10px;
    background-color: darkturquoise;
    margin:5px;
    border-radius: 5px;
    width:100px;
    height:40px;

}

.MonthSelectBtn:hover{
    padding:10px;
    background-color: rgb(2, 171, 173);
    margin:5px;
    border-radius: 5px;
    width:100px;
    height:40px;
}