.PeopleSelectionLink{
    background-color: lightgreen;
    color: Black;
    margin: 30px;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
}
.PeopleSelectionLink:hover{
    background-color: darkgreen;
    color: Black;
    margin: 30px;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
}