.SittingTypeBtn{
    background-color: lightseagreen;
    border-radius: 5px;
    padding: 5px; 
    margin: 5px; 
    
}


.SittingTypeBtn:hover{
    background-color: rgb(24, 136, 130);
    border-radius: 5px;
    padding: 5px; 
    margin: 5px; 
    cursor: pointer;
}