.SittingTimeBtn{
    background-color: #C7CFD9;
    margin: 5px;
    padding:5px;
    border-radius: 5px;
    width: 80px; 
}

.SittingTimeBtn:hover{
    background-color: #979ea7;
    color: white;
    margin: 5px;
    padding:5px;
    border-radius: 5px;
    width: 80px; 
    cursor: pointer;
}