.SittingTimeBtn{
    border-radius: 5px;
    width: 24%; 
    background-color: var(--cellColour);
    border: #B47C49 1px solid;
    margin: 1px;
    padding:7px;
    border-radius: 5px;
    height:40px;
    justify-content: center;
    align-items: center;
    transition: all 0.25s ease-in-out;
    white-space: nowrap;
}

.SittingTimeBtn:hover{
    border-radius: 5px;
    width: 24%; 
    background-color: var(--highlightColour);
    color: white;
    border: #000000 1px solid;
    margin: 1px;
    padding:7px;
    border-radius: 5px;
    height:40px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.SittingTimeBtnSelected{
    border-radius: 5px;
    width: 24%; 
    background-color: var(--selectedColour);
    color: white;
    border: #B47C49 1px solid;
    margin: 1px;
    padding:7px;
    border-radius: 5px;
    height:40px;
    justify-content: center;
    align-items: center;
    transition: all 0.25s ease-in-out;
}

.SittingTimeBtnSelected:hover{
    border-radius: 5px;
    width: 24%; 
    background-color: var(--highlightColour);
    color: white;
    border: #000000 1px solid;
    margin: 1px;
    padding:7px;
    border-radius: 5px;
    height:40px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}