.SittingTypeBtn{
    padding:7px;
    background-color: #D9C7B2;
    color: black;
    margin:5px;
    border-radius: 5px;
    border: 1px solid #B47C49;
    width:50%;
    height:40px;
    min-width: 80px;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out, border 0.3s ease-in-out;
    
}

.SittingTypeBtn:hover{
    padding:7px;
    background-color: #784011;
    color: white;
    margin:5px;
    border-radius: 5px;
    border: 1px solid #000000;
    width:50%;
    height:40px;
    min-width: 80px;
    cursor: pointer;
}


.SittingTypeBtnSelected{
    padding:7px;
    background-color: #784011;
    color: white;
    margin:5px;
    border-radius: 5px;
    border: 1px solid #B47C49;
    width:50%;
    height:40px;
    min-width: 80px;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out, border 0.3s ease-in-out;
    
}

.SittingTypeBtnSelected:hover{
    padding:7px;
    background-color: #784011;
    color: white;
    margin:5px;
    border-radius: 5px;
    border: 1px solid #000000;
    width:50%;
    height:40px;
    min-width: 80px;
    cursor: pointer;
}

.SittingTypeContianer{
    display: flex;
}

.capacity{
    vertical-align: middle;
    display: flex;
    align-items: center;
    position: relative;
}

.greenIcon{
    height: 32px;
    filter: invert(60%) sepia(80%) saturate(299%) hue-rotate(71deg) brightness(90%) contrast(89%);
}
.orangeIcon{
    height: 32px;
    filter: invert(93%) sepia(14%) saturate(4950%) hue-rotate(322deg) brightness(100%) contrast(89%);
}
.redIcon{
    height: 32px;
    filter: invert(61%) sepia(62%) saturate(5907%) hue-rotate(331deg) brightness(91%) contrast(86%);
}
  
  /* Tooltip text */
.capacity .tooltiptext {
visibility: hidden;
width: 120px;
background-color: rgb(0, 0, 0, 0.8);
color: #fff;
text-align: center;
border-radius: 6px;
padding: 5px 0;
position: absolute;
z-index: 1;
top: -15px;
left: 114%;
}

.capacity .tooltiptext::after {
content: "";
position: absolute;
top: 50%;
right: 100%;
margin-top: -5px;
border-width: 5px;
border-style: solid;
border-color: transparent rgb(0, 0, 0, 0.8) transparent transparent;
}
  
.capacity:hover .tooltiptext {
    visibility: visible;
}

