.SittingTypeBtn{
    padding:8px;
    background-color: #D9C7B2;
    color: black;
    margin:5px;
    border-radius: 5px;
    border: 1px solid #B47C49;
    width:50%;
    height:40px;
    min-width: 80px;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out, border 0.3s ease-in-out;
    
}


.SittingTypeBtn:hover{
    padding:8px;
    background-color: #784011;
    color: white;
    margin:5px;
    border-radius: 5px;
    border: 1px solid #000000;
    width:50%;
    height:40px;
    min-width: 80px;
    cursor: pointer;
}