.DatePageContainer{
    display: flex;
    justify-content: center;
    align-items: center;
};

.DateSelectionContainer{
    border:black 1px solid;
}


.DateDayContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 40%;
    justify-content: center;
}