.PeopleBody{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 32px;
}
.PeopleSelectionContainer{
    display: flex;
    width: 400px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 16px;
}

/* Remove arrows on number input */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input[type=number]{
    font-size: 44px;
}