.SittingBody{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.SittingTypeContainer{
    border: black 1px solid;
    display: flex;
    flex-direction: column;
    width: 20%;
    
}

.SittingTimeContainer{
    border: red 1px solid;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 40%;
}